<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 3 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let beer of jsonData.birre">
      <ion-thumbnail slot="start">
        <ion-img [src]="getImgUrl(beer.img)"></ion-img>
      </ion-thumbnail>
      <ion-text>{{ beer.name }}</ion-text>
      <ion-text color="medium" ngClass="description">{{ beer.desc }}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
